@model ParadiseLost.ViewModels.MessageCreateEditModel
<div class=" ml-3 mt-3">
    <form asp-action="Create" asp-controller="Message" method="post">


        <input type="hidden" name="InvokerId" value="@Model.InvokerId" asp-for="InvokerId" />
        <input type="hidden" name="Id" value="@Model.Id" asp-for="Id" />
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <p>
            @Html.LabelFor(m => m.SelectedTrip, "Название")<br>
            @Html.TextBoxFor(m => m.SelectedTrip.Name, new { @class = "default-input" })
            <span asp-validation-for="SelectedTrip" class="alert-info-label"></span>
        </p>
        <p>
            @Html.LabelFor(m => m.Reciver, "Компания")<br>
            @Html.TextBoxFor(m => m.Reciver.Name, new { @class = "form-control", @disabled = "disabled" })
            <span asp-validation-for="Reciver" class="alert-info-label"></span>
        </p>

        <p>
            @Html.LabelFor(m => m.MessageText, "Дополнительные данные(обратный адрес, телефон и т.д.)")<br>
            @Html.TextAreaFor(m => m.MessageText, new { @class = "default-input" })
            <span asp-validation-for="MessageText" class="alert-info-label"></span>
        </p>


        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Отправить</button>


    </form>
</div>



        @section scripts{
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        }

