@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ParadiseLost.ViewModels.MessageCreateEditModel
<div class="col-1"></div>
<div class="col-5 ml-3 mt-3 info-pannel">
    @using (Html.BeginForm("EditMessage", "Message", FormMethod.Post))
    {

        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="Invoker" value="@Model.Invoker" />

        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <p>
            @Html.LabelFor(m => m.SelectedTrip, "Выбранная путёвка")<br>
            @Html.TextBoxFor(m => m.SelectedTrip, new { @class = "default-input", @disabled = "disabled" })
            <span asp-validation-for="SelectedTrip" class="alert-info-label"></span>
        </p>
        <p>
            @Html.LabelFor(m => m.Reciver, "Компания")<br>
            @Html.TextBoxFor(m => m.Reciver, new { @class = "form-control", @disabled = "disabled" })
            <span asp-validation-for="Reciver" class="alert-info-label"></span>
        </p>
        <p>
            @Html.LabelFor(m => m.MessageText, "Дополнительные данные(обратный адрес, телефон и т.д.)")<br>
            @Html.TextAreaFor(m => m.MessageText, new { @class = "form-control" })
            <span asp-validation-for="MessageText" class="alert-info-label"></span>
        </p>
        <button type="submit" class="btn btn-primary">Добавить</button>
    }
</div>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

