@model ParadiseLost.ViewModels.UserRegistrationModel

    <div class="col-1"></div>
    <div class="col-4 ml-3 mt-3 info-pannel">

        @using (Html.BeginForm("CreateNewUser", "User", FormMethod.Post))
        {

            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <p>
                @Html.LabelFor(m => m.UserName, "Имя")<br>
                @Html.TextBoxFor(m => m.UserName, new { @class = "default-input" })
                <span asp-validation-for="UserName" class="alert-info-label"></span>
            </p>
            <p>
                @Html.LabelFor(m => m.Email, "Почта")<br>
                @Html.TextBoxFor(m => m.Email, new { @class = "default-input" })
                <span asp-validation-for="Email" class="alert-info-label"></span>

            </p>
            <p>
                @Html.LabelFor(m => m.Password, "Пароль")<br>
                @Html.PasswordFor(m => m.Password, new { @class = "default-input" })

                <span asp-validation-for="Password" class="alert-info-label"></span>

            </p>
            <p>
                @Html.LabelFor(m => m.ComfirmPassword, "Подтвердите пароль")<br>
                @Html.PasswordFor(m => m.ComfirmPassword, new { @class = "default-input" })
                <span asp-validation-for="ComfirmPassword" class="alert-info-label"></span>

            </p>
            <p>
                <input type="submit" value="Отправить" />
            </p>
        }
    </div>
        @section scripts{

            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        }
